@font-face {
    font-family:Raleway-Light;
    src: url(./RalewayFont_1/Raleway-Light.woff);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(./RalewayFont_1/Raleway-Regular.woff);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(./RalewayFont_1/Raleway-Bold.woff);
}
@font-face {
    font-family: Delta GothicOne;
    src: url(./DelaGothicOne/DelaGothicOne-Regular.woff);
}
@font-face {
    font-family: Raleway-Medium;
    src: url(./RalewayFont_1/Raleway-Medium.woff);
}
body {
    max-width: 1440px;
    margin: auto 0;
}
main {
    box-sizing: border-box;

}
.header {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: none;
}
a {
    text-decoration: none;
    color: black;
}
.header-navLeft {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    margin-left: 30px;
}
.navLeft {
    padding-right: 20px;
    list-style-type:none;
    font-family: 'Raleway-Regular'; 
}
.navLeftRed {
    color: rgb(231, 8, 8);
}
.header-logo {
    padding-top: 1.8%; 
}
.logo-responsive {
    padding-left: 0;
}
.header-container-navRight {
    padding-right: 10.5%;
}
.navRight {
    padding-left: 2%;
    padding-right: 3%;
    list-style-type:none;
    font-family: 'Raleway-Regular';
    
}
.navRightUniqe {
    list-style-type: none;
 }
.header-icon {
    padding-bottom: 4%;
}
.header-navRight {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 3%;
    padding-top: 6%;
    font-feature-settings: 'lnum' 1;
}
 
.main-pageNav {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    padding-top: 10px;
    list-style-type: none;
    
}
.pageNavListBold {
    list-style-type: none;
 
    font-family:'Raleway-Bold';
    font-size: 12px;
}
.pageNavListThin {
    list-style-type: none;
   
    font-family: 'Raleway-Light';
    font-size: 12px;
}
.icon {
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
}

@media screen and (max-width:375px) {
 .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.menu{
        margin-left: 3%;
        display: block;
       }
}
@media screen and (max-width:375px) {
    .navLeft, .navRight, .main-container-pageNav, .header-container-navLeft, .lito-smallHeading, 
    .Lito-morePics-container, .Recomendation-img-container,.red-arrows, .redDevider, .Lito-buy, .footer-container-left, .footer-contacts, .footer-socialMedias{
    display: none;
    }
 
}
@media screen and (max-width:375px) {
.header-logo {
    width: 92px; 
}
.logo-responsive {
    width: 92px; 
    margin-left: 14%;
    margin-top: 5%;
 
}
.header-icon {
    width: 21px;
    margin-left: 99%;
}
.header-container-navRight{
    width: 4.8%;
    display: flex;
  justify-content: flex-end;
}
.header-navRight {
  width: 48px;
}
}
@media screen and (max-width:375px){
.container-image {
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
}
@media screen and (max-width:375px) {
    .navRightUniqe {
        width: 21px;
        height: 21px;
    }
}

